<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="MzDevelopment">
		<meta name="description" content="Placeholder">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta property="og:image" content="https://via.placeholder.com/1200x630">
		<meta property="og:description" content="Placeholder">
		<meta property="og:title" content="『MZM』 Clients">
		<script src="/javascripts/materialize.js"></script>
		<script src="/javascripts/clients.js"></script>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<title>『MZM』 Home</title>
		
		<!-- External Imports -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body id="content">
		<template id="content-wrapper-template">
			<main>
				<ul id="content-container" class="collection"></ul>
			</main>
		</template>
		<template id="item-template">
			<li class="collection-item avatar">
				<i class="material-icons circle green">insert_chart</i>
				<span class="title">Title</span>
				<p>First Line<br>Second Line</p>
				<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
			</li>
		</template>

		<header>
			<nav>
				<div class="nav-wrapper green darken-3">
					<a href="#!" class="brand-logo">&nbsp;『MZM』&nbsp;</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/login"><i class="material-icons">login</i></a></li>
					</ul>
				</div>
			</nav>
			<ul class="sidenav" id="mobile-demo">
				<li><a href="/login">Login</a></li>
			</ul>
		</header>
		<main id="main-content" class="valign-wrapper">
			<div class="container center-align" id="loading-animation">
				<div class="preloader-wrapper small active">
					<div class="spinner-layer spinner-green-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
							<div class="circle"></div>
						</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
