<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="MzDevelopment">
		<meta name="description" content="Placeholder">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta property="og:image" content="https://via.placeholder.com/1200x630">
		<meta property="og:description" content="Placeholder">
		<meta property="og:title" content="『MZM』 Home">
		<script src="/javascripts/main.js"></script>
		<script src="/javascripts/materialize.js"></script>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<title>『MZM』 Home</title>
		
		<!-- External Imports -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-wrapper green darken-3">
					<a href="#!" class="brand-logo">&nbsp;『MZM』&nbsp;</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/login"><i class="material-icons">login</i></a></li>
					</ul>
				</div>
			</nav>
			<ul class="sidenav" id="mobile-demo">
				<li><a href="/login">Login</a></li>
			</ul>
		</header>
		<main>
			
		</main>
		<footer class="page-footer green darken-2">
			<div class="container">
			  	<div class="row">
					<div class="col s12 center">
						&#x26A0; This App is currently in Development and subject to many Changes!
					</div>
			  	</div>
			</div>
			<div class="footer-copyright green darken-3">
			  	<div class="container">
					<div class="left">© 2021 Copyright by MzDevelopment under the MIT License</div>
					<a class="white-text right" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/MzDevelopment">View the Code on Gitlab</a>
			  	</div>
			</div>
		</footer>
	</body>
</html>
