<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="MzDevelopment">
		<meta name="description" content="Placeholder">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta property="og:image" content="https://via.placeholder.com/1200x630">
		<meta property="og:description" content="Placeholder">
		<meta property="og:title" content="『MZM』 Template">
		<script src="/javascripts/materialize.js"></script>
		<title>『MZM』 Home</title>
		
		<!-- External Imports -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body>
		『MZM』 Template
	</body>
</html>